body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: #fcfcfc;
    overscroll-behavior: none;
}
#catalog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.product {
    background: #f0f0f0;
    border: solid .0125rem #eee;
    box-shadow: .5rem .5rem 1rem #aaa;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    min-width: 20rem;
    max-width: 20rem;
}
.product h1 {
    color: #34975a;
}
.product h2 {
    color: #c8a54c;
}
.product p {
    color: #777;
}
